body {
    text-transform: capitalize;
    .conteneu {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        .coord {
            grid-column: span 8;
            grid-row: span 2;
        }
        .address {
            grid-column: 9 / 13;
        }
        .phone {
            grid-column: 9 / 13;
        }
    }
}
footer{
    margin-top: 0;
    .wrapp{
        // margin-bottom: 10%;
    }
}

