body {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    .alert{
        background-color: red;
        color: white;
        text-decoration: none;
    }
    p{
        color: gray;
    }

}


main {
    .wrapper {
        display: grid;

    }
    .bandeau {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
    
        .ninja {
            display: none;
        }
        .medium{
            display: none;
        }
        figure {
            position: relative;
            .txt {
                position: absolute;
                top: 0;
            }
        }
        
    }

    .article{
        margin: 0 5% 0 5%;
        .card-text {
            margin-top: 30px;
        }
        h3 {
            margin: 50px auto 50px;
            color: gray;
        }
        
        .fleche{
            margin-top: 30px;
            width: 350px;
            display: flex;
            .btn {
                
                text-decoration: none;
                color: black;
                padding: 8px;
                border: 1px solid black;
                border-right: none;
                
                
            }
            
            svg { 
                width: 42px;
                border: 1px solid black;
                padding: 10px;
                border-bottom: none;
                
                
            }

        }
        
    }

    .breaking{
        margin-left: 5% ;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
        display: grid;
        figure {
            position: relative;
            .txt {
                position: absolute;
            }
            figcaption {
                position: absolute;
                bottom: 5%;
                margin: 0 10% auto ;
                color: white;
            }
        }

        h2 {
            color: 
            rgb(33, 37, 41);
        }
        
    }
        // medium
        @media screen and (min-width:576px) and (max-width:960px) {
            .bandeau {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .medium {
                    display: block;
                }
            }
            
        }
        // large
        @media screen and (min-width:960px) {
            .wrapper{
                display: grid;
                grid-template-columns: repeat(3,1fr);
            }
            .bandeau {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .ninja {
                    display: block;
                }
                .medium {
                    display: none;
                }
            }
            .article {
                grid-column: span 2;
            }
            .breaking {
                grid-column: 1fr;
                display:flex;
                flex-direction: column;
                
            }
        }
}

footer {
    

        // medium
        @media screen and (min-width:576px) and (max-width:960px) {}
        // large
        @media screen and (min-width:960px) {}

}


    

