body {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    .alert{
        background-color: red;
        color: white;
        text-decoration: none;
        padding: 2px 15px;
    }
    p {
        color: gray;
    }
    .liste {
        list-style: none;
    }
    
}
main {
    .wrapper {
        display: grid;

    }
    .bandeau {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
        .ninja {
            display: none;
        }
        .medium{
            display: none;
        }
        figure {
            position: relative;
            .txt {
                position: absolute;
                top: 0;
                h2 {
                    color: white;
                    font-size:large;
                }
            }
        }
        
    }
    .article{
        margin-left: 5%;
        // width: 80%;

        .socials {
            margin-top: 1%;
            display: flex;
            gap: 1rem;
            position: relative;
            left: 82%;
        
        }
        .card-text {
            margin-top: 30px;
        }
        h3 {
            margin: 50px auto 50px;
            color: gray;
        }
        
        .fleche{
            margin-top: 30px;
            width: 350px;
            display: flex;
            .btn {
                
                text-decoration: none;
                color: black;
                padding: 8px;
                border: 1px solid black;
                border-right: none;  
            }
            svg { 
                width: 42px;
                border: 1px solid black;
                padding: 10px;
                border-bottom: none;
            }
           
        }
        .carré {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            
            figure {
                height: 100%;
            }
                
            
            .coms {
                color: black;
                
            }
        }

    }
    .breaking{
        margin-left: 5% ;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
        display: grid;
        figure {
            position: relative;
            .txt {
                position: absolute;
            }
            figcaption {
                position: absolute;
                bottom: 5%;
                margin: 0 10% auto ;
                color: white;
            }
        }

        h2 {
            color: 
            rgb(33, 37, 41);
        }
        
    }
    .info {
        margin: auto;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        p {
            font-size: small;
        }
        .x-2 {
            grid-column: span 1;
            
        }
        .small{
            grid-column: span 1;
            margin: 0 10px;
        }  
        .boite {
            text-decoration: none;
            color: black;
            padding: 3px;
        }
        .marger h3{
            border-top: 1px solid rgb(171, 171, 171);
            margin-top: 1%;
            padding: 5px 2px;

        }

    }
    .endo {
        display: grid;
        width: 90%;
        margin-top: 50px;
        margin-left: 5%;
        position: relative;
        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }
    // medium
    @media screen and (min-width:576px) and (max-width:960px) {
        .bandeau {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .medium {
                display: block;
            }
        }
        .info {
            display: grid;
            grid-template-columns: repeat(6,1fr);
    
            .x-2 {
                grid-column: span 2;
                
            }
            .small{
                grid-column: span 1;
                margin: 0 10px;
            }
    
        }
        .endo{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 2rem;

        }
    }
    // large
    @media screen and (min-width:960px) {
        .wrapper{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        .bandeau {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .ninja {
                display: block;
            }
            .medium {
                display: none;
            }
        }
        .article {
            grid-column: span 2;
        }
        .breaking {
            grid-column: 1fr;
            display:flex;
            flex-direction: column;
            
        }
        .info {
            margin: 0 3%;
            display: grid;
            grid-template-columns: repeat(6,1fr);
    
            .x-2 {
                grid-column: span 2;
                
            }
            .small{
                grid-column: span 1;
                margin: 0 10px;
            }
    
        }
        .endo{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1rem;

        }
    }
}



    

